
.shoppingItem{
  display: inline-block;
}
.description{
  font-family: helvetica;
  font-weight: lighter;
  font-size: small;
}
p {
  display: inline-block;
}

#container {
  display: inline-block;

  border-color: blue;
  border-width: 3px;
  border-style: solid;
  border: solid 3px;
  width: 600px;
  margin:  auto;
}
body{
  text-align: center;
}
li {
  list-style-type: none;
}
button{
  padding: 1%;
  margin: 3%;
}